* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 33%, 95%);
}

main {
  width: 350px;
  background-color: hsl(0, 10%, 20%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 40px 0 10px;
  user-select: none;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5);
}

main > .output {
  width: 85%;
}

.output input {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 15px;
  margin: 0 auto;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 5px;
}

.buttons div {
  margin: 15px auto;
}

.buttons div:first-child {
  margin-top: 30px;
}

.buttons button {
  width: 55px;
  height: 55px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 5%, 30%);
  padding: 20px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
}

.buttons button:hover {
  background-color: hsl(0, 5%, 50%);
}

.buttons button:active {
  background-color: hsl(0, 5%, 60%);
}

.buttons .ac-button {
  padding: 15px;
  background-color: hsl(120, 70%, 25%);
}

.buttons .ac-button:hover {
  background-color: hsl(120, 70%, 35%);
}

.buttons .ac-button:active {
  background-color: hsl(120, 70%, 45%);
}

.buttons .color-button {
  background-color: hsl(240, 70%, 50%);
}

.buttons .color-button:hover {
  background-color: hsl(240, 70%, 60%);
}

.buttons .color-button:active {
  background-color: hsl(240, 70%, 70%);
}

.buttons .backspace {
  padding: 0;
}

.material-symbols-outlined {
  font-size: 1.225rem;
  font-weight: lighter;
  line-height: 0;
}
